<%= link_to destroy_user_session_path, :class => 'btn btn-default pull-right', :method => :delete, :data => {:dailog => 'main-login-form'} do %>
   
<span class='glyphicon glyphicon-user'></span> Logout
<% end %>