<% tab 'about' %>

<div class="article one featured clearfix">

        <a name="headline" id="headline"></a>
        
        <h1>John Smith Loves Dogs So Much, Adopts 30 Dogs</h1>
        
        
        <p><span class="loc">Washington, DC</span> — A local hero came out of the crowd today at the Humane Animal Shelter Society of Washington, DC, where local resident John Smith adopted 30 dogs of various breeds and ages during a charity event.</p>
  <p>Adopting the dogs was absolutely free, but taking care of the dogs will be a major endeavour. </p>
  <p>A local bystander claims that Smith could not decide on which dog to take home, and eventually decided to take them all.</p>
  <p>When asked what Smith planned to do with the dogs, John replied "they are going to live with me, of course!" Our news team followed Smith to a nearby pet store where Smith bought "at least one thousand pounds of dry food and five hundred pounds of wet food," said Smith.</p>
  <p>John, who admits to spending most of the day on Facebook, added "I am so happy to have all of these new friends. I've already got all of their names picked out."</p>        
        


        
        
        
        
        
      </div>